body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header
    {
    position: fixed;
    display: flex;
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-around;
}

.title-header{
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
}

.title-header a{
    text-decoration: none;
}

.title-header h1{
    font-size: 20px;
    color: #008037;
    text-decoration: none;
}

.logo-imagem{
    height: 50px;
}

.title-header :hover{
    font-size: 25px;
    color: #008037;
    text-decoration: none;
}

.nav{
  padding-left: 250px;
}

.nav a {
    text-decoration: none;
    font-style: initial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    border-Radius: 7px
}

.nav :hover{
    font-size: 16px;
    color: #008037;
}

.nav li {
    display: inline-block;
    padding: 0px 20px 0 20px;
}

.login .continuacao-login img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
}

.login .continuacao-login[name="drop"]{
    border: none;
    cursor: pointer;
    /* background-color: #008037;
    background-image: url("/imagens/login.png"); */
  }

  .drop-content{
    display: none;
    background-color: #E4A87A;
}

.drop-content a{
    color: white;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
  }

  .login:hover .drop-content{
    display: block;
  }
  
  .login:hover .continuacao-login[name="drop"]{
    background-color: #3de295;
  }

.drop-content a:hover{
    background-color:  #3de295;
  }

  .drop-content{
    display: none;
    background-color:  #3de295;
        
    position: absolute; 
  }

  .nav .linha-cima{
      margin-bottom: 23px;
  }

  .login{
    position: relative;
  }

  .tela-inicio{
    
    background: url(../img/fundo-inicio.png) bottom no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .tela-inicio p
      {
      font-size: 22px;
      text-align: right;
  
  }

  .texto-lateral {
      margin: 0px 60px 60px 0px;
  }
  
  .texto-lateral h1 {
      text-transform: uppercase;
      text-align: right;
      font-size: 55px;
      margin: 0px;
  }


.content {
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

.tela-sobre h3{
    margin: 0;
    text-align: center;
    color: #008037;
    padding-top: 66px;
}

.todos-cards{
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.card {
    color:  #008037;
    background-color: rgb(10, 10, 10);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    height: 450px;
  }

.card img{
    width: 250px;
}

.card h4, p{
    text-align: center;
}
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(70, 80, 90, 0.2);
    transition: 0.5s;
    transform:scale(1.1);
  }
  
  .container {
    align-items: center;
    justify-content: center;
  }


  .footer {
    background-color: rgb(10, 10, 10);
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
}